/*SETEAR NUESTROS ARCHIVOS: SEA IGUAL PARA TODOS LOS NAVEGADORES*/
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
/* ESTILOS AL BODY*/
body {
  background-image: url("../assets/imgs/fondo3.jpg");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  padding-top: 100px;
}
/* ETIQUETAS REUTILIZABLES*/
.inline-block {
  display: inline-block;
}
.container {
  display: inline-block;
  width: 33%;
  text-align: center;
  position: relative;
  top: 10px;
}
a {
  text-decoration: none;
}
.fa {
  padding-right: 5px;
  font-size: 19px;
}
/* ETILOS AL ENCABEZADO*/
header {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #b4b4b4;
  background-color: #fff;
  top: 0;
  position: fixed;
}
/*Estilos a la lista de menus izquierda*/
header nav ul {
 list-style: none;
 position: relative;
 left: 95px;
}
nav ul li {
  padding: 5px;
  margin: 0 10px;
  font-size: 15px;
  font-weight: 600;
}
nav ul li a {
 color:rgb(120, 120, 120);
}
nav ul li a:hover, nav ul li a:focus  {
  color: rgb(120, 173, 255);
  border-bottom: 2px solid rgb(120, 173, 255);
}
/* Estilos al logo de twitter*/
div a i.fa-twitter, .fa-picture-o {
  font-size: 23px;
  color: rgb(120, 173, 255);
}
/* Estilos al buscador, button twittear, e icono  user*/
header nav div form {
  border-radius: 20px;
  border: 1px solid rgb(230, 230, 230);
  background-color: rgb(244, 244, 255);
  position: relative;
  right: 95px;
  bottom: 3px;
  width: 50%;
}
header nav div form input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  padding: 10px;
  width: 70%;
  letter-spacing: 0.5px;
}
header nav div div {
  position: relative;
  right: 85px;
}
header nav .user-circle {
  font-size: 26px;
  color: rgb(200, 200, 200);
  margin-right: 5px;
}
header nav div div button {
  border-radius: 15px;
  background-color:  rgb(120, 173, 255);
  padding: 9px 15px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
/*ESTILOS A LAS SECCIONES (PERFIL DE USUARIO Y SECCIÓN TWEETS)*/
section {
  float: left;
  margin: 20px;
}
/* Estilos a la sección perfil de usuario(foto de portada y user)*/
section.section-perfil {
  width: 25%;
  margin-left: 200px;
  text-align: center;
}
section.section-perfil div.div-perfil {
  background-color: #fff;
}
.section-perfil div.cover-photo { /*foto de portada*/
  background-image: url("../assets/imgs/photo.jpg");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  height:250px;
}
.section-perfil div.user {
  padding: 25px 0px;
  background-color: #fff;
}
.section-perfil div.user a.user-link {
  color: rgb(50, 50, 50);
  font-weight: 600;
  font-size: 20px;
}
.section-perfil div.user a.user-link:hover {
  margin-bottom: 1px solid black;
  color:rgb(92, 143, 255);
}
.section-perfil div.div-perfil a { /* Estilo a las etiquetas que contienen seguidores, siguiendo, tweets*/
  padding: 0px 9px 25px;
  font-size: 14px;
  color: #787878;
}
.section-perfil div.div-perfil a:hover {
  color: black;
}
.section-perfil div.div-perfil a p {
  font-size: 20px;
  color:  rgb(92, 143, 255);
  font-weight: 600;
}
/* Sección de los tweets (form, input e imagen de usuario) sin incluir los eventos js*/
section.section-tweets {
  width: 40%;
  margin-left: 30px;
}
section div.div-tweets {
  width: 100%;
  margin-left: 30px;
  text-align: center;
  background-color: rgb(183, 223, 255);
  padding: 15px;
  border-radius: 4px;
}
.section-tweets form {
  padding: 5px;
  width: 90%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgb(183, 190, 255);
}
.section-tweets form input {
  border: none;
  background-color: transparent;
  font-size: 15px;
  padding: 5px;
  letter-spacing: 0.5px;
  line-height: 20px;
  width: 93%;
  outline: none;
}
.section-tweets span.photo { /* imagen de usuario */
  width: 7%;
  position: relative;
  top: 12px;
}
.section-tweets span img {
  max-width: 100%;
  border-radius: 100%;
}
/* CLASES PARA LOS ELEMENTOS CREADOS EN LOS EVENTOS JS*/
/* Estilos al textarea donde se ingresa el contenido del tweet*/
.textarea {
  width: 500px;
  height: 130px;
  font-size: 15px;
  border-radius: 10px;
  border: 2px solid rgb(120, 173, 255);
  outline: none;
  padding: 10px;
}
/* Estilos al button "twittear"(estado inactivo) a quien se le aplica el 2do evento*/
.button {
  border-radius: 15px;
  background:  rgba(120, 173, 255, 0.5);
  padding: 9px 15px;
  border: none;
  color: #fff;
  outline: none;
  font-weight: 600;
  font-size: 15px;
  cursor: not-allowed;
  display: block;
  position: relative;
  left: 83%;
}
/* Estilos al button  "twittear"(estado activo) a quien se le aplica el 2do evento*/
#button-active {
  background:  rgb(120, 158, 255);
  cursor: pointer;
}
/* Estilos a la foto que aparece al costado de textarea(evento uno)*/
.span-photo {
  float: left;
  left: 15px;
}
/* Estilos al contenedor de los tweets (contenedor que se crea des pues del evento click en el button "twittear"), del user y de la hora en formato de 24hrs*/
.new-tweets {
  margin: 10px;
  margin-left: 30px;
  width: 100%;
  font-size: 12px;
  background-color: #f0f0f0;
  list-style: none;
  padding-left: 20px;
  border-radius: 4px;
}
/* Estilos a user(link) que se encuentra dentro del container de Tweets*/
#user {
  color: rgb(40, 40, 40);
  font-size: 15px;
  font-weight: 600;
}
#user:hover {
  color: rgb(60, 106, 255);
  border-bottom: 1px solid rgb(60, 106, 255);
}
/* Estilos a la etiqueta "li" que contiene los tweets en si creados en el textarea*/
.li-one {
  padding: 5px;
  padding-bottom: 0;
  margin: 0px 40px;
  font-size: 15px;
  background-color: #f0f0f0;
}
/* Estilos a la etiqueta "li" que contiene la hora en formato 24 horas*/
.li-two {
  margin: 5px 43px;
  padding-bottom: 7px;
  color: black;
  font-weight: 400;
}
